/* ===== Centered CSS: https://github.com/tomsoderlund/centered ===== */

/* ----- Reset ----- */

.centered-container {
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  font-size: 3vmin;
  /* iOS Safari fix: set variable --vmin with JavaScript */
  font-size: calc(3 * var(--vmin, 1vmin));
  /* Clamp to avoid too big on large screens */
  font-size: clamp(7px, calc(3 * var(--vmin, 1vmin)), 24px);
  width: 33.333em;
  height: 33.333em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1em;
}

.centered.portrait {
  font-size: 3vh;
  /* iOS Safari fix: set variable --vh with JavaScript */
  font-size: calc(3 * var(--vh, 1vh));
  width: 19.607em; /* 1.7x */
  height: 33.333em;
}

.centered.debug {
  background-color: rgba(0, 200, 200, 0.08);
  overflow: hidden;
}
